video{

  width: 100%;
  
  
}
body{
  background-color: burlywood;
  margin: 0px;
}
h1{
    font-family: 'Acme', sans-serif;
    font-size: 80px;
    color: rgb(128, 47, 0);
}

nav {
  
  margin: 0px;
  padding: 10px 0px;
  background-color: brown;
  width: 100%;
  
  
}

a {
  display: inline;
  font-size: larger;
  padding: 50px 50px;
  color: cornsilk;
  text-decoration: none;
}
.video-parent{
  position: relative;

}
.main-heading{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);

}


p{
  font-family: 'Permanent Marker', cursive;
  font-size: xx-large;

}



  
         