video{
  position: fixed;
  min-width: 100%;
}
h1{
    font-family: 'Acme', sans-serif;
    font-size: 80px;
    color: rgb(128, 47, 0);
}

        nav {
         
          margin: 0px;
          padding: 10px 10px;
          background-color: brown;
          width: 100%;
          
        }
        
        a {
          display: inline;
          font-size: larger;
          padding: 50px 50px;
          color: cornsilk;
          text-decoration: none;
        }
        .content {
            position:fixed;
           width: 100%;
          padding: 100px;
            text-align: center;
          }
          
         