body{
    background-color: burlywood;
    border: 1px solid black;

}
.header{
    padding: 2px 2px;
}
.contents{
    padding: 5px 5px;
}

.right{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
.left{
    width: 74%;
    display: inline-block;
    vertical-align: top;
}
a{
    display: inline;
  font-size: larger;
  padding: 150px 150px;
  color: black;
  text-decoration: none;
}
nav {
    margin: 0px;
    padding: 10px 0px;
    background-color: brown;
font-family: 'Anton', sans-serif;
    width: 100%;
    font-size: larger;
    text-align: center;
  
    
    
  }
  #bachelors{
    font-family: 'Anton', sans-serif;

  }