body{
  background-color: brown;
  margin: 0px;
}
.button {
    background-color: cornsilk;
    border: none;
    color: maroon;
    padding: 160px 160px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 100%;
  }
  p{
    font-family: 'Permanent Marker', cursive;
    font-size: x-large;
  }
  h1{
    font-family: 'Acme', sans-serif;
    font-size: 50px;
  }
  .flex-container {
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    
  }
  
  .item {
    padding: 10px;
  }
  
  img {
    width: 110%;
    height: auto;
    display: block;
  }
  a{
    display: inline;
  font-size: larger;
  
  color: black;
  text-decoration: none;

}
a:hover{
  text-decoration: underline;
}